body{
    margin:0;
    padding: 0;
}
.dark-mode{
    background-color:rgb(75,75,70);
}
/*Navigation bar*/
.nav{
    height: 135px;
    width: 100%;
    background-color: rgb(146, 207, 228);
    position:absolute;
    top:0;
    display: flex;
   
}


.nav-dark-mode{
 
    background-color: rgb(75,75,70);
 
}

 .nav button{
    background-color: rgb(146, 207, 228);
    border: none;
    height:50%;
    width: 10%;
    position: absolute;
    font: optional;
    font-size: 20px;
    color:white;
    cursor: pointer;
    right:25px;

} 
.nav .popupBtn{
    position: relative;
    transform: translate(-0%,-50%);
    top:50%;
}
.nav .darkModeBtn{
    position: relative;
    transform: translate(-0%,-50%);
    top:50%;
   
}
.nav button:hover{
  background-color: rgb(104, 146, 172);
}
.nav h1{
    color:white;
    text-align:center;
    font-size: 99px;
    padding:0;
    margin: auto;
    position: relative;
    left:10%;
}
/*
#footer{
  height: 20vh;
  width: 100vw;
  background-color: rgb(146, 207, 228);
  position: absolute;
  bottom: -20vh;
}
*/
.popup {
  position: absolute;
  height: 70vh;
  width:60vw;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  background-color: lightblue;  
  border: 1px black solid;
  display: none;
}
.popup button{
  display:block;
  background-color: greenyellow;
  color:white;
  border:none;
  width:100px;
  height:50px;
  margin:auto;
  top: 95%;
  transform: translateY(-95%);
  position: relative;
  cursor: pointer;

}
.popup button:hover{
  background-color: green;
}

.popup .popuptext{
  color:white;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#searchbar{
  width:100%;
  height: inherit;
  border: 1px solid black;
  position: relative;
}
#gameArea{
  height: inherit;
  width: 100%;
  top: 135px;
  position: relative;
}
table{
  width:80%;
  border: 1px solid black;
  display: inline;
}