<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chopple</title>
    <link rel = "stylesheet" href = "Chopple.css">
</head>
<body>
    <h1>Chopple</h1>


    <form autocomplete="off">
        <div class = "autocomplete" style ="width:300px;">
            <input id = "myInput" class = "myInput2" type = "text" name = "characterdata" placeholder="Enter a character.">
        </div>
        <button type = "button" class='check'>Check</button>
        
    </form>

     
    <div id = "chart">
        <table id = "myTable" style="width:100%">
            <tr>
              <th>Name</th>
              <th>Affliation</th>
              <th>Hair Color</th>
              <th>Devil Fruit</th>
              <th>Height</th>
              <th>Gender</th>
            </tr>
            <tr class = "r1">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr class = "r2">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr class = "r3">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr class = "r4">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr class = "r5">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr class = "r6">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
          </table>

          <div class = "win" id = "win">
            dew
          </div>
          <div class = "lose" id = "lose">
            AHHHHH
          </div>

          <div class = "instruct" id = "instruct">
            dew
          </div>
         
        <div id="game"></div>
    </div>
   
    <button onclick="myFunction()">Toggle dark mode</button>
</body>

<script src = "Chopple.js"></script>
</html>
<html>
<head>
   <title>Play Chopple</title>
   <!--For Flask <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
   <script src="{{ url_for('static', filename='js/website.js') }}"></script> -->
   <link rel="stylesheet" href="css/Chopple.css">
   <script src="scripts/Chopple.js"></script>
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <!-- <style>
     #cluetable{
      /*says its incorrect but this still works?*/
      display: {{display}};
     }
   </style> -->

</head> 
<body>  
  <div class="nav">
    <h1>Chopple</h1>
    <button type="button" class="popupBtn" onclick="openPopup()">How to play</button>
    <button type="button" class="darkModeBtn" onclick="darkMode()">Dark Mode</button>
  </div> 
  
  <div class="popup">
    <button type="button" onclick="closePopup()">PLAY</button>
    <div class="popuptext">
      <p>How to play part 1 </p>
    </div>
  </div>
  <div id="gameArea">
    <div id="Hint">
      <div><canvas id="canvas"></canvas></div>
      <button type="button" onclick="cropImage('pic.png')">Image cropped</button>
    </div>
    <div id="searchbar">
      <form autocomplete="off" method="POST">
        <div class="autocomplete" style="width:300px;">
          <input id="myInput" type="text" name="Guess_name" placeholder="Guess a Character">
        </div>
        <input type="submit">
      </form> 
      

    </div>
    <div id="guesses">
    </div>
    <!-- <div id="clueTable">
      <table>
        <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>Saga</th>
            <th>Affiliation</th>
        </tr>
        {% for row in data %}
        <tr>
          {% for cell in row %}
            coomment: data is a nested dictionary of 
          <td> {{ cell }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div> -->

  </div>
</body>
</html>